.cards {
    width: 90%;
}

.cards h2 {
    margin-left: 35px;
}

.arrow {
    position: absolute;
    top: 10px;
    left: 55px;
    font-size: 35px;
    color: #000000
}

.button {
    position: absolute;
    top: 63px;
    left: 570px;
}