.incubator {
    font-size: 30px;
}

.forgot {
    position: absolute;
    bottom: 35px;
    right: 0;
    transition: .3s;
}

.forgot:hover {
    color: #6a6969;
}

.check {
    margin: 10px 0;
}

.button_box {
    height: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.button {
    width: 200px;
}
.login_form a {
    text-decoration: none;
    margin-top: 15px;
}
.signUp {
    font-size: 20px;
    font-weight: bold;
    color: #21268f;
}