.buttonsPanel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.buttonsPanel > button {
    height: 70%;
}

.deleteButton {
    background-color: #ba1f3e;
    color: #ffffff;
    margin-right: 10px;
}

.deleteButton:hover {
    background-color: #d2153a;
}

.editButton {
    margin-right: 10px;
}

.learnButton {
    margin-right: 10px;
}