.authPageItem {
    min-height: 100vh;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.authPageForm {
    width: 375px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.authPageForm h3 {
    text-align: center;
    margin: 10px;
}

.fields {
    margin: 30px 0;
    position: relative;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}