.table {
    padding: 1px;
    height: 387px;
    background-color: #ECECF9;
    box-shadow: 0 0 5px #ECECF9, 0 0 10px #ECECF9;
}
.header {
    background-color: #ECECF9;
}

.header, .deckItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 48px;
}

.name, .cards, .created, .update, .actions {
    font-size: 14px;
    font-weight: bold;
}

.name, .actions {
    width: 200px;
}

.cards {
    width: 70px;
}

.created, .update {
    width: 110px;
}

/*deck item*/

.deckItemWhite {
    background-color: #ffffff;
}

.deckItemGray {
    background-color: #F8F7FD;
}

/*pag*/

.pagination {
    margin: 15px;
}